@page
@model WebApp.Pages_MemberReviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberReview[0].Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberReview[0].ReviewedMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberReview[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberReview[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberReview[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MemberReview) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer!.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedMember!.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
